@media screen and (min-width: 321px){
//header
  header {
    padding: 20px 40px;
    
    nav.main-navigation {
      visibility: visible;
      opacity: 1;
      position: unset;
      height: 1em;
      
      li {
        display: inline-block;
        cursor: pointer;
        width: 30%;
        
        a {
          padding: 2px 10px;
          font-size: pixelToEm(12);
          
          &:hover {
            border-bottom: 2px solid $hover_underline_color;
          }
        }
      }
    }
    
    select.language-selector {
      display: block;
      float: right;
      border: none;
      text-align: right;
      cursor: pointer;
      width: 6%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-transform: uppercase;

      &::after {
        content: "\005E";
        font-size: 2em;
        position: relative;
        float: right;
        left: 60px;
        transform: rotateX(180deg);
        transform: scaleX(2);
      }

    }

    i.nav-menu {
      display: none;
    }
  }

  //heading

  section.main-heading{
    margin-top: pixelToEm(100);
    margin-left: 200px;

    div {
      font-size: pixelToEm(60);
      width: 80%;
    } 
  }
}
