@media screen and (min-width: 321px){
  body {
      width: 1024px;
  }

  header {
    padding: 20px 40px;
    
    nav.main-navigation {
      width: 50%;
      visibility: visible;
      opacity: 1;
      
      li {
        display: inline-block;
        cursor: pointer;
        width: 30%;
        
        a {
          padding: 2px 10px;
          font-size: pixelToEm(12);
          
          &:hover {
            border-bottom: 2px solid $hover_underline_color;
          }
        }
      }
    }
    
    select.language-selector {
      display: block;
      float: right;
      border: none;
      text-align: right;
      cursor: pointer;
      width: 50px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-transform: uppercase;

      &::after {
        content: "\005E";
        font-size: 2em;
        position: relative;
        float: right;
        left: 60px;
        transform: rotateX(180deg);
        transform: scaleX(2);
      }

    }

    i.nav-menu {
      display: none;
    }
  }
}
