html,
body,
#app {
  height: 100%;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.visible {
  display: block;
}

header {
  height: 34px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .38);
  padding: 20px 30px 26px 20px;

  nav.main-navigation {
    background-color: white;
    position: absolute;
    top: 5em;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;

    li {
      list-style: none;
      text-align: center;

      a {
        color: $menu_font_color;
        text-decoration: none;
        font-size: pixelToEm(30);
        
        &.active {
          font-weight: bold;
        }
        
        &:hover {
          color: $menu_font_color;
        }
      }
    }
  }

  select {
    display: none;
  }

  .logo {
    width: 25%;
    float: left;
  }

  i.nav-menu {
    float: right;
    font-size: 30px;
    cursor: pointer;
  }
}
  
